<% layout('layouts/boilerplate') %>
  <h1>Color Palette Finder</h1>
  <p>Simple app to find and list the color palette of a given image.</p>
  <h3>Usage</h3>
  <p>Select an image to upload and click "Submit." You will be redirected to the result page with the image's color palette listed for you to enjoy.</p>
  <form action="/" method="POST" encType="multipart/form-data">
    <div>
      <label for="fileInput" class="form-label">Select Image</label>
      <input type="file" name="image" class="form-control" id="fileInput">
    </div>
    <div>
      <button class="btn btn-success btn-lg btn-block my-3 w-100">Submit</button>
    </div>
  </form>