<% layout('layouts/boilerplate') %>
<h1>Color Palette</h1>
<% for (let color of colors) { %>
  <div class="row">
    <div class="col p-5 text-center" style="background: <%= color %>">
      <span class="colorLabel"><%= color %></span></div>
  </div>
<% } %> 