<% layout('layouts/boilerplate') %>
<h1>Color Palette</h1>
<div class="mb-5">
  <% for (let color of colors) { %>
    <div class="row">
      <div class="col p-5 text-center shadow rounded g-4" style="background: <%= color %>">
        <span class="colorLabel"><%= color %></span></div>
    </div>
  <% } %> 
</div>